*
!download.sh
!Makefile
!README.md
!.gitignore
!xfs-interface
xfs-interface/*
!xfs-interface/batch.bat
!*l
*l/*
!*l/*_progs
!*l/*_programs
!*l/samples
!*l/*_progs/*
!*/*_programs/*
!*l/samples/*
!.vscode
!.vscode/*